.default-color0.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color1.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color2.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color3.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color4.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color5.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color6.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color7.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color8.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color9.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color10.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color11.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color12.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color13.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color14.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color15.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color16.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color17.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color18.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color19.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color20.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color21.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color22.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color23.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color24.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color25.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color26.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color27.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color28.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color29.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color30.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color31.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color32.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color33.chart-pie{
    -fx-pie-color: #e41515;
}