.default-color0.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color1.chart-pie{
    -fx-pie-color: #e41515;
}

.default-color2.chart-pie{
    -fx-pie-color: #67d037;
}

.default-color3.chart-pie{
    -fx-pie-color: #e41515;
}





